@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background-color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

@media screen and (max-width: 768px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
  }

  .popup-container {
    background: #fff;
    border: 1px solid #ebecf0;
    width: 90%;
    margin: 30% auto  3% auto;
    padding: 5px 20px;
    justify-content: center;
    top: 60px;
    height: auto;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
  }

  .round-popup {
    width: 8px;
    height: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
    margin-top: 3px;
  }

  .popup-content {
    font-family: "Poppins", sans-serif;
  }

  .headline-popup {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    margin-left: 16px;
    width: 100%;
    height: 36px;
  }

  .headline-popup h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .small-tags {
    display: flex;
    width: 70%;
    height: 16px;
    list-style: none;
    flex-direction: row;
    padding-left: 12px;
    justify-content: space-between;
    margin: 8px 7px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .popup-button-action {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    margin-left: -15px;
  }

  .deploy-icon img {
    position: relative;
    left: -15px;
  }

  .popup-button-action button {
    display: flex;
    background: #fff;
    padding: 8px 12px;
    border: 1px solid #396df2;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .canopy-sm-tag {
    color: #344563;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .second-sm-tag {
    color: #7a869a;
  }

  .buttom-content-container {
    display: flex;
    flex-direction: column;
    width: 311px;
    margin-left: 5%;
    margin-top: -1%;
  }

  .paragraph-description-mobile {
    padding-top: 5%;
    width: 90%;
  }

  .paragraph-description-desktop {
    width: 90%;
    text-align: start;
    padding: 10px 0;
    margin-left: -6px;
  }

  .desktop-menu li,
  a {
    padding-right: 15px;
    height: 0%;
    color: #344563;
    text-decoration: none;
  }

  .source-code a {
    position: relative;
    left: -15px;
  }

  .popup-tags .first li {
    display: inline-block;
    padding: 4px 12px;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    background: #ebebff;
    border-radius: 8px;
  }

  .popup-tags .second li {
    display: none;
  }

  .live-version,
  .source-code {
    width: 90px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }

  .github-img,
  .deploy-icon {
    width: 18px;
    height: 18px;
  }

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 15px;
    top: 15px;
    right: 35px;
  }
}

.ambuger {
  display: flex;
  flex-direction: column;
}

.bar {
  display: block;
  width: 33px;
  height: 3px;
  background-color: #162ae3;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #fff;
}

.nav-logo a {
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #142cff;
  text-decoration: none;
}

.nav-logo:hover {
  transform: rotate(90deg);
}

.desktop-menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000vh;
  padding-top: 106px;
  background-color: #6070ff99;
  backdrop-filter: blur(8px);
}

i.close {
  font-size: 24px;
  color: white;
  display: none;
  cursor: pointer;
  filter: invert(0);
}

.nav-links img {
  width: 20px;
  height: 15px;
  cursor: pointer;
}

i.close.show {
  display: flex;
}

img.humberger.hide {
  display: none;
}

.list-items li {
  list-style: none;
}

ul {
  list-style-type: none;
}

.card-skills li {
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #ebebff;
  font-size: 12px;
  color: #0017eb;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.desktop-menu.active ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.desktop-menu.active li {
  padding-left: 28px;
  padding-bottom: 40px;
}

.intro-items a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a30ff;
  text-decoration: none;
}

.intro-items ul li a {
  text-decoration: none;
  display: block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  height: 24px;
  flex: none;
}

.desktop-menu.active a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;
}

section {
  background-repeat: no-repeat;
  padding: 5rem 1.25rem 15rem;
  background-color: #fff;
  background-position-x: 100%;
}

.image {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 80px;
  background-image: url("images/hero_bg.png");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: 100%;
  justify-content: center;
  padding: 5rem 1.25rem 15rem;
  background-color: #fff;
  background-position-x: 100%;
  width: auto 100%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 0.6em;
}

.intro-text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.intro-text h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  font-style: normal;
  width: 65%;
}

.intro-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2%;
}

.list-items {
  display: flex;
  gap: 23px;
}

/* --------------------animation------------ */

.list-items img {
  height: 20px;
  width: 20px;
  transition: all 0.3s ease-in-out;
}

.list-items img:hover {
  border: 1px solid #7f8cff;
  border-radius: 10%;
}

/* card section */

.work-cards {
  background: #e5e5e5;
  display: grid;
  gap: 24px;
}

.project-card {
  flex-direction: column;
  row-gap: 120px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
}

.project-card:nth-of-type(2),
.project-card:nth-of-type(3),
.project-card:nth-of-type(4) {
  margin-top: 85px;
}

.card-lists {
  display: flex;
  padding: 8px 0;
  width: 100%;
  gap: 12px;
  align-items: center;
  color: #424242;
}

.card-lists .canopy {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 16px;
  color: #424242;
  font-size: 13px;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-lists p {
  font-size: 13px;
  color: #424242;
  padding: 8px 0;
  font-weight: 600;
  line-height: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

.round {
  width: 10px;
  height: 10px;
  background-color: #c1c7d0;
  border-radius: 500%;
}

.card-note p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.card-skills {
  display: flex;
  gap: 12px;
  margin: 12px 0;
  flex-direction: row;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 24px;
  padding: 12px;
  color: #474747;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: transparent;
  width: fit-content;
  transition: all cubic-bezier(0.08, 0.82, 0.48, 1.27) 3s;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* -----------About Section------------ */
.about {
  border-top-right-radius: 80px;
}

.span {
  display: inline-block;
}

.knowdge {
  margin-top: 24px;
  gap: 12px;
}

.know-text {
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  color: #000;
  font-weight: 500;
  width: 100%;
  padding: 24px 42px 36px 0;
}

.self {
  margin: 12px 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about-text {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  max-width: 50%;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  background: #fff;
}

ul.list-items.skill-items {
  margin-top: 12px;
  gap: 24px;
}

.job-text {
  font-size: 15px;
  color: #253858;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.know-line {
  font-weight: 500;
  color: #5e6c84;
  transform: rotate(90deg);
}

.know-list {
  align-items: center;
  padding: 24px;
  gap: 12px;
  background: #f7f7f9;
  border-radius: 8px;
}

.know-sec {
  gap: 12px;
}

.arrow-line {
  color: #dfe1e6;
}

.card-tag {
  color: #6070ff;
}

/* ------------------------Contact Section----------------------------- */

.contact-section {
  display: flex;
  flex-direction: column;
  background-image: url(./images/contact-bg.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: inherit;
  justify-content: center;
  padding-bottom: 2%;
}

.contact-now h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-now p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 15px;
  padding: 10;
}

.contact-now-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input {
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
}

.input-textarea {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px 38px 15px 16px;
}

.submit-button {
  width: 140px;
  height: 48px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 30px;
}

button:hover {
  border: none;
  color: #fff;
  background: #29323c;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  border: none;
  color: #fff;
  background: #2230d2;
}

.desktop-menu {
  display: none;
}

.uber-desk {
  display: none;
}

.desk-image {
  display: none;
}

.mobile-image {
  display: block;
}

/* ----------------Desktop version-------------- */

@media screen and (min-width: 768px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
  }

  .popup-container {
    background: #fff;
    border: 1px solid #ebecf0;
    width: 90%;
    margin: 10% auto 4% auto;
    padding: 5px 20px;
    justify-content: center;
    height: auto;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
  }

  .round-popup {
    width: 8px;
    height: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
    margin-top: 6px;
  }

  .popup-clsbtn {
    position: relative;
    left: 20px;
    font-weight: 40;
    font-size: 27px;
    color: #67798e;
    width: 30px;
    height: 14px;
  }

  .popup-content {
    font-family: "Poppins", sans-serif;
  }

  .headline-popup {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 24px;
    width: 95%;
    height: 40px;
  }

  .headline-popup h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .small-tags {
    display: flex;
    width: 280px;
    height: 36px;
    list-style: none;
    flex-direction: row;
    padding-left: 12px;
    justify-content: space-around;
    margin-top: 8px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .counter {
    width: 8px;
    height: 8px;
  }

  .canopy-sm-tag {
    color: #344563;
  }

  .second-sm-tag {
    color: #7a869a;
  }

  .popup-image-container {
    height: auto;
  }

  .popup-image-container img {
    border-radius: 16px;
    align-items: center;
    width: 100%;
  }

  .buttom-content-container {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
  }

  .paragraph-description-desktop {
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #344563;
  }

  .action-content {
    margin-right: 20px;
  }

  .popup-tags {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .display-tools,
  li,
  a {
    padding-right: 10px;
    height: 0%;
  }

  .popup-tags .first,
  .popup-tags .second {
    display: flex;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 50%;
  }

  .popup-tags .first li {
    margin-top: 2px;
    padding: 4px 8px;
    background: #ebebff;
    margin-left: 8px;
    border-radius: 8px;
    height: 24px;
  }

  .popup-tags .second li {
    margin-top: 2px;
    margin-left: 8px;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    height: 24px;
  }

  .popup-button-action {
    width: 306px;
    height: 50%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    margin-top: 5px;
    flex-direction: row;
    justify-content: space-around;
  }

  .popup-button-action button {
    background: #fff;
    width: 142px;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #396df2;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    color: #396df2;
  }

  .live-version,
  .source-code {
    width: 90px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }

  .github-img,
  .deploy-icon {
    width: 18px;
    height: 18px;
  }

  .paragraph-description-mobile {
    display: none;
  }

  .toggle-button {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .desk-image {
    display: block;
  }

  .mobile-image {
    display: none;
  }

  .uber-desk {
    display: block;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .card-title {
    display: block;
  }

  .desktop-menu {
    display: inline;
  }

  .image {
    display: flex;
    flex-direction: column;
    background-image: url("images/header-bg.png");
    border-bottom-left-radius: 80px;
    height: 90%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    padding: 100px 100px;
    margin-left: 40px;
    margin-right: 20px;
  }

  .main-container {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container h1 {
    width: 55%;
  }

  .main-container p {
    width: 90%;
  }

  .nav-bar {
    padding: 10px 40px;
  }

  .main-card {
    border-bottom-left-radius: 100px;
  }

  .work-cards {
    padding-right: 60px;
    padding-left: 60px;
    gap: 0;
  }

  .project-card {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 25px auto;
  }

  .project-card img {
    width: 100%;
    height: 100%;
    transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
  }

  .know-list img {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .intro-items img {
    margin-top: 15px;
  }

  .project-card img:hover {
    transform: scale(1.1, 1.1);
  }

  .project-card-iterms {
    padding: 20px;
  }

  .order-2 {
    order: 2;
  }

  .about-me {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .knowdge {
    display: block;
  }

  .know-text {
    display: flex;
  }

  .know-sec {
    flex-direction: row;
    padding: 5px 15px;
  }

  .know-list {
    padding: 20px;
    flex-direction: column;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .about {
    padding-left: 30px;
    padding-right: 60px;
  }

  section.contact-section {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .contact-now {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./images/Destop-bg.png);
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: inherit;
    border-top-left-radius: 80px;
  }

  .contact-now h2,
  .contact-now p {
    grid-column: 2/4;
    padding: 0 20px;
  }

  .contact-now p {
    color: #000;
    background-color: #c9c9c9;
  }

  .contact-now-form .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 447px;
    border-radius: 0;
    margin: auto;
  }

  .intro-items a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1a30ff;
    text-decoration: none;
  }

  .submit-button {
    position: relative;
    left: 30%;
  }

  .desktop-menu.active {
    display: none;
  }
}
